<%- include('partial/header') %>

<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-1">404</h1>
    <div class="error mx-auto" data-text="404">
      <p class="lead text-gray-800 mb-5">Page Not Found</p>
      <p class="text-gray-500 mb-0"><%= message || 'The page you requested could not be found.' %></p>
      <a href="/">← Back to Home</a>
    </div>
  </div>
</div>

<%- include('partial/footer') %>
